/* color palette 
    dark purple:    #240046 
    black:          
    light grey:     

*/

.purple-text {
    color: #240046;
}

h1 {
    color: #bababb;
}

body {
    margin: 20px;
    margin-top: 84px;
    background: rgb(83,43,120,1);
    /*background-image: url(/img/pitch.jpg);*/
}

nav {
    background: #240046;
}

main{
    margin-left: 200px;
}

li {
    list-style-type: none;
}

p, h2, h4, li {
    color: #240046;
}

code {
    background: rgb(186,186,187);
    padding: 3px;
    border-radius: 5px;

}

article {
    background: rgb(186,186,187,0.8);
    border-radius: 10px;
    padding: 10px;
}

footer {
    margin-top: 10px;
    margin-left: 200px;

}

/* Add margin between blog posts */
article + article {
    margin-top: 1em;
}


.sidebar {
    height: 100%; 
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    padding-top: 24px;
  }

  .sidebar a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 20px;
    color: #bababb;
    margin-left: 12px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
.sidebar ul { 
    padding-top: 60px;
    padding-left: 10px;
    list-style-type: none;
}

li i {
    height: 14px;
    width: 14px;
    color: #bababb;
    vertical-align: 15%;
    text-align: center;
}

.sidebar ul li {
    padding: 6px 6px;
}