/* color palette 
    dark purple:    #240046 
    black:          
    light grey:     

*/

iframe {
    display: block;
    border-radius: 5px;
}

a + iframe {
    margin-top: 10px;
}

.purple-text {
    color: #240046;
}

.grey-text {
    color: #bababb;
}

.grey-text:hover{
    color: #f1f1f1;
}

h1 {
    color: #bababb;
}

body {
    margin: 20px;
    margin-top: 84px;
    background: rgb(83,43,120,1);
    /*background-image: url(/img/pitch.jpg);*/
}

nav {
    background: #240046;
}

main{
    margin-left: 200px;
}

li {
    list-style-type: none;
}

p, h2, h3, h4, li {
    color: #240046;
}

code {
    background: rgb(186,186,187);
    padding: 3px;
    border-radius: 5px;

}

footer {
    padding: 10px;
    color: rgb(186,186,187);
    margin-top: 10px;
    margin-left: 200px;

}

/* Add margin between blog posts */
article + article {
    margin-top: 1em;
}

li i {
    height: 14px;
    width: 14px;
    color: #bababb;
    vertical-align: 15%;
    text-align: center;
}

.sidebar ul li {
    padding: 6px 6px;
}

i + a {
    margin-left: 12px;
}

.project-img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 12px;
    border: 5px #240046 solid;
}

.project-title {
    color: #240046;
}

.project-box {
    align-items: center;
}